<!-- form error 출력 -->
{% comment %}
{% if comment_form.errors %}
    {{ form = comment_form}}
{% else %}
    {{ form = hashtag_form}}
{% endif %}
{% endcomment %}

<div class="alert alert-danger">
    <ul>
        {% for f in form %}
            {% for error in f.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            {{f.label_tag}}
            {{f}}
        {%endfor%}
        
        {% comment %}
        {% for k in form.errors.keys %}
            {{ k|upper }}
        {% endfor %}

        {% for errors in form.errors.values %}
            {% for error in errors %}
                <li>{{error}}</li>
            {% endfor %}
        {% endfor %}

        {% for f in form %}
            {{f}}
        {% endfor %}
        {% endcomment %}
    </ul>
</div>



{% comment %}
<!-- form error 출력 -->
<div class="alert alert-danger">
    <ul>
        {% for error in comment_form.content.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        {{ comment_form }}
    </ul>
</div>
{% endcomment %}